<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".minigame2_leaderboard"
            android:exported="false" />
        <activity
            android:name=".minigame1_leaderboard"
            android:exported="false" />
        <activity android:name=".MiniGame1.LoadCSV_minigame1">

            <!-- Removed MAIN and LAUNCHER intent filters from here -->
        </activity>
        <activity
            android:name=".MiniGame1.MainActivity_minigame1"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- Removed MAIN and LAUNCHER intent filters from here -->
        </activity>
        <activity
            android:name=".MiniGame2.MainActivity_minigame2"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- Removed MAIN and LAUNCHER intent filters from here -->
        </activity> <!-- This is now the main and launcher activity -->
        <activity
            android:name=".StartScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MiniGame1.SerialService_minigame1" />
        <service android:name=".MiniGame2.SerialService_minigame2" />
    </application>

</manifest>